{% extends 'base44.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'jumbotron.css' %}">
{% endblock customcss %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{%url 'app:select'%}">学生向けSNS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'app:user_login'%}">ログイン<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>

</nav>
  
  <main role="main">
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">login</h1>
        <p>アカウントを選んでください。</p>
        <p><a class="btn btn-secondary" href="{%url 'app:user_login'%}" role="button">学生用アカウント &raquo;</a></p>
        <p><a class="btn btn-secondary" href="{%url 'app:society_login'%}" role="button">サークル用アカウント &raquo;</a></p>
      </div>
    </div>
  
  </main>
  
  <footer class="container">
    <p>&copy; Company 2017-2020</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
{% endblock content %}