{% extends 'base.html' %}
{% block content %}
<h1>this is index.</h1>
{% for post in object%}
<a href="{% url 'app:everypost' post_id=post.id %}">
 {% if post.image %}
   <img src="{{ post.image.url }}">
 {% endif %}
   <h5>{{post.title|truncatechars:13 | linebreaksbr}}</h5>
   <p>{{post.content}}</p>
</a>
   <p>#{{post.author}}</p>
   <p>{{post.good}}</p>
   <p>{{post.read}}</p>
   <p>{{post.readtext}}</p>
   <hr>
{% endfor %}
<button><a href="{% url 'app:add' %}">投稿</a></button>
{% endblock %}